@model Item

<h2>Update Item</h2>

<!-- Form to update item information -->
<form asp-action="Update">
    <input type="hidden" asp-for="ItemId" />

    <!-- Basic item details -->
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category"></label>
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Certificate"></label>
        <input asp-for="Certificate" class="form-control" />
        <span asp-validation-for="Certificate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <!-- Nutritional information -->
    <h4>Nutritional Information</h4>

    <div class="form-group">
        <label asp-for="Energy">Calories (kcal)</label>
        <input asp-for="Energy" class="form-control" />
        <span asp-validation-for="Energy" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Carbohydrates">Carbohydrates (g)</label>
        <input asp-for="Carbohydrates" class="form-control" />
        <span asp-validation-for="Carbohydrates" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sugar">Sugar (g)</label>
        <input asp-for="Sugar" class="form-control" />
        <span asp-validation-for="Sugar" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Protein">Protein (g)</label>
        <input asp-for="Protein" class="form-control" />
        <span asp-validation-for="Protein" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Fat">Fat (g)</label>
        <input asp-for="Fat" class="form-control" />
        <span asp-validation-for="Fat" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Saturatedfat">Saturated Fat (g)</label>
        <input asp-for="Saturatedfat" class="form-control" />
        <span asp-validation-for="Saturatedfat" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Unsaturatedfat">Unsaturated Fat (g)</label>
        <input asp-for="Unsaturatedfat" class="form-control" />
        <span asp-validation-for="Unsaturatedfat" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Fibre">Fiber (g)</label>
        <input asp-for="Fibre" class="form-control" />
        <span asp-validation-for="Fibre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Salt">Salt (g)</label>
        <input asp-for="Salt" class="form-control" />
        <span asp-validation-for="Salt" class="text-danger"></span>
    </div>

    <!-- Product information -->
    <h4>Product Information</h4>

    <div class="form-group">
        <label asp-for="CountryOfOrigin">Country of Origin</label>
        <input asp-for="CountryOfOrigin" class="form-control" />
        <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CountryOfProvenance">Country of Provenance</label>
        <input asp-for="CountryOfProvenance" class="form-control" />
        <span asp-validation-for="CountryOfProvenance" class="text-danger"></span>
    </div>
    <!-- Buttons for save changes and cancel -->
    <button type="submit" class="btn btn-primary mt-3 mb-5">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary mt-3 mb-5">Cancel</a>
</form>