bin/
obj/
APILogs/
net8.0/
FOODREGISTRATION/

*.log

*.user
*.vs/

*.exe
*.dll
*.pdb
*.cache
*.txt

.vs/
*.csproj.user
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/FoodRegistration.assets.cache
obj/Debug/net8.0/FoodRegistration.csproj.FileListAbsolute.txt
