@model FoodRegistration.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/registerAndPassword.css" rel="stylesheet" />
</head>

<div class="register-form">
    <h2>Change password</h2>
    <form asp-controller="Account" asp-action="ChangePassword" method="post">
        <div>
            <label asp-for="OldPassword">Old password</label>
            <input asp-for="OldPassword" type="password" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="NewPassword">New password</label>
            <input asp-for="NewPassword" type="password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="ConfirmNewPassword">Confirm new password</label>
            <input asp-for="ConfirmNewPassword" type="password" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success mt-3 mb-5">Update</button>
        <a asp-action="Profile" class="btn btn-danger mt-3 mb-5">Cancel</a>
    </form>
</div>