.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  width: 300px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.login-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.buttons-button {
  width: 100%;
  color: white;
  border: none;
  outline: none;
  /* padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer; */
}

/* .buttons-button:hover {
  background-color: #0056b3;
} */

/* .btn-primary {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #007bff;
} */

/* .btn-primary:hover {
  text-decoration: underline;
  color: #0056b3;
} */

/* .alert {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}
 */