/* Container styling for the profile section layout */
.profile-container { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* Styling for the form section within the profile container */
.profile-form {
    flex: 1; 
    margin-right: 20px; 
}

/* Styling for the logo section in the profile container */
.profile-logo {
    margin-left: auto;
}

/* Specific styling for the image inside the logo section */
.profile-logo img {
    width: 80%; 
    height: auto; 
    max-width: 350px; 
}
