.register-form {
    max-width: 400px;
    margin: auto;
    padding-top: 50px;
}

.register-form input {
    width: 100%;
    flex-direction: column;  
}

/* .submit-button {
    background-color: #83B271;
    color: white;
    border: none;
    outline: none;
    margin-top: 5%;
}

.cancel-button {
    background-color: #9c3b3b;
    color: white;
    border: none;
    outline: none;
    margin-top: 5%;
}

.field-validation-error {
    color: red;
    height: auto;
    display: block;
    word-wrap: break-word;
    max-width: 100%;
} */