
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
  } 
/*Create-button with white text */
  .create-button {
    color: white !important; 
    background-color: #007bff; 
    transition:color 0.3s ease;
  }
  
  .create-button:hover {
    background-color: #0056b3; 
    color: white !important; 
  }
 
