
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
  } 

  .create-button {
    color: white !important; /* Ensure text is white */
    background-color: #007bff; /* Primary blue background */
    transition:color 0.3s ease;
  }
  
  .create-button:hover {
    background-color: #0056b3; /* Darker blue for hover */
    color: white !important; /* Maintain white text on hover */
  }
 
