# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

api/bin/
api/bin/debug/
api/bin/debug/net8.0/
api/obj/
api/obj/debug/
api/obj/debug/net8.0/
api/APILogs/
bin/
obj/
APILogs/
net8.0/
node_modules/
.env*

*.log

*.user
*.vs/

*.exe
*.dll
*.pdb
*.cache
*.txt
*.db-shm
*.db-wal
*.db
FoodRegistrationReact\api\bin\Debug\net8.0\api.dll

.vs/
*.csproj.user