@model Item


<h2>Create New Item</h2>

<form asp-action="Create">
    <!-- ID for produktet -->
    <div class="form-group">
        <!-- Vi skal vel ikke legge inn itemID manuelt? -->
        <label asp-for="ItemId">ID number</label><span class="text-danger">*</span>
        <input asp-for="ItemId" class="form-control" />
        <span asp-validation-for="ItemId" class="text-danger"></span>
    </div>

    <!-- Navn på produktet -->
    <div class="form-group">
        <label asp-for="Name"></label><span class="text-danger">*</span>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Kategori -->
    <div class="form-group">
        <label asp-for="Category"></label><span class="text-danger">*</span>
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <!-- Sertifikat --> 
    <div class="form-group">
        <label asp-for="Sertificate"></label>
        <input asp-for="Sertificate" class="form-control" />
        <span asp-validation-for="Sertificate" class="text-danger"></span>
    </div>

    <!-- Image URL -->
    <div class="form-group">
        <label asp-for="ImageUrl">Bilde linke</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <!-- Ernæringsverdier -->
    <h3>Nutrients per 100g</h3>
    <!-- Energi -->
    <div class="form-group">
        <label asp-for="Energy">Calories pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Energy" class="form-control" />
        <span asp-validation-for="Energy" class="text-danger"></span>
    </div>

    <!-- Carbs -->
     <div class="form-group">
        <label asp-for="Carbohydrates">Carbohydrates pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Carbohydrates" class="form-control" />
        <span asp-validation-for="Carbohydrates" class="text-danger"></span>
    </div>
    
    
     <!-- Sugar -->
      <div class="form-group">
        <label asp-for="Sugar">-Of which suagr pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Sugar" class="form-control" />
        <span asp-validation-for="Sugar" class="text-danger"></span>
    </div>

     <!-- Protein -->
    <div class="form-group">
        <label asp-for="Protein">Protein pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Protein" class="form-control" />
        <span asp-validation-for="Protein" class="text-danger"></span>
    </div>

    
      <!-- Fat -->
    <div class="form-group">
        <label asp-for="Fat">Fat pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Fat" class="form-control" />
        <span asp-validation-for="Fat" class="text-danger"></span>
    </div>

    <!-- Saturatedfat -->
    <div class="form-group">
        <label asp-for="Saturatedfat">-Of which saturated fat pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Saturatedfat" class="form-control" />
        <span asp-validation-for="Saturatedfat" class="text-danger"></span>
    </div>
    
    <!--unsaturated fat-->
     <div class="form-group">
        <label asp-for="Unsaturatedfat">-Of which unsaturated fat pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Unsaturatedfat" class="form-control" />
        <span asp-validation-for="Unsaturatedfat" class="text-danger"></span>
    </div>

   
     <!-- fiber -->
       <div class="form-group">
        <label asp-for="Fibre">Fiber pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Fibre" class="form-control" />
        <span asp-validation-for="Fibre" class="text-danger"></span>
    </div>

    <!--Salt-->
    <div class="form-group">
        <label asp-for="Salt">Salt pr 100g</label><span class="text-danger">*</span>
        <input asp-for="Salt" class="form-control" />
        <span asp-validation-for="Salt" class="text-danger"></span>
    </div>

<h3>Product information</h3>
 <!-- Country of Origin -->
    <div class="form-group">
        <label asp-for="CountryOfOrigin">Country of Origin</label><span class="text-danger">*</span>
        <input asp-for="CountryOfOrigin" class="form-control" />
        <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
    </div>

    <!-- Country of Provenance -->
    <div class="form-group">
        <label asp-for="CountryOfProvenance">Country of Provenance</label><span class="text-danger">*</span>
        <input asp-for="CountryOfProvenance" class="form-control" />
        <span asp-validation-for="CountryOfProvenance" class="text-danger"></span>
    </div>

    @* <!-- Item Number -->
    <div class="form-group">
        <label asp-for="ItemNumber">Item Number</label><span class="text-danger">*</span>
        <input asp-for="ItemNumber" class="form-control" />
        <span asp-validation-for="ItemNumber" class="text-danger"></span>
    </div>
 *@
    <!-- Created Date (Read-only) -->
    <div class="form-group">
        <label asp-for="CreatedDate">Created Date</label>
        <input asp-for="CreatedDate" class="form-control" readonly />
    </div>
    
   
    
@*the create button *@
    <button type="submit" class="btn btn-primary mt-3 mb-5">Create</button>
    <a asp-action="Index" class="btn btn-secondary mt-3 mb-5">Go back to home page</a>
</form>
