@model ItemsViewModel

<div class="text-center">
    <h1 class="display-4">Table over tracked food items</h1>
</div>

<partial name="_Index" model="Model.Items" />

@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

@* Overskrift 
<div class="text-center">
    <h1 class="display-4">Table over tracked food items</h1>
</div>
 *@

@* Overskrift *@
@* <div class="text-center">
    <h1 class="display-4">Tabel over tracked food items</h1>
</div> *@
