.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.login-container img {
    height: auto;
    width: 75%;
    margin-bottom: 10%;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-button {
    background-color: #83B271;
    color: white;
    border: none;
    outline: none;
}